*.config
*.nupkg
*.xml
*._
.vs/CorruptOSBot/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.pdb
*.job
*.targets
*.png
*.TXT
*.p7s
*.force
*.cache
*.cache
*.txt
*.cache
CorruptOSBot.Test/App.config
CorruptOSBot.Test/bin/Debug/CorruptOSBot.Data.dll
CorruptOSBot.Test/bin/Debug/CorruptOSBot.Shared.dll
CorruptOSBot.Test/bin/Debug/Discord.Net.Core.dll
CorruptOSBot.Test/bin/Debug/Discord.Net.Rest.dll
CorruptOSBot.Test/bin/Debug/Discord.Net.WebSocket.dll
CorruptOSBot.Test/bin/Debug/EntityFramework.dll
CorruptOSBot.Test/bin/Debug/EntityFramework.SqlServer.dll
CorruptOSBot.Test/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
CorruptOSBot.Test/bin/Debug/netstandard.dll
CorruptOSBot.Test/bin/Debug/Newtonsoft.Json.dll
CorruptOSBot.Test/bin/Debug/System.Buffers.dll
CorruptOSBot.Test/bin/Debug/System.Collections.Immutable.dll
CorruptOSBot.Test/bin/Debug/System.Linq.Async.dll
CorruptOSBot.Test/bin/Debug/System.Memory.dll
CorruptOSBot.Test/bin/Debug/System.Numerics.Vectors.dll
CorruptOSBot.Test/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
CorruptOSBot.Test/bin/Debug/System.Threading.Tasks.Extensions.dll
CorruptOSBot.Test/bin/Release/CorruptOSBot.Test.exe.config
CorruptOSBot.Test/bin/Release/CorruptOSBot.TheHunt.dll.config
CorruptOSBot.Test/CorruptOSBot.Test.csproj
CorruptOSBot.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
